/**
 * Editor
 */

[data-md-text-align='left'] {
  text-align: left;
}

[data-md-text-align='center'] {
  text-align: center;
}

[data-md-text-align='right'] {
  text-align: right;
}

[data-md-text-align='justify'] {
  text-align: justify;
}

/**
 * Tooltips
 */

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.__mobiledoc-tooltip {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  white-space: nowrap;
  position: absolute;
  background-color: rgba(43, 43, 43, 0.9);
  border-radius: 3px;
  line-height: 1em;
  padding: 0.7em 0.9em;
  color: #fff;
  -webkit-animation: fade-in 0.2s;
  animation: fade-in 0.2s;
}

.__mobiledoc-tooltip:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgba(43, 43, 43, 0.9);
  top: -5px;
  margin-left: -5px;
}

/* help keeps mouseover state when moving from link to tooltip */
.__mobiledoc-tooltip:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  height: 5px;
}

.__mobiledoc-tooltip a {
  color: #fff;
  text-decoration: none;
}

.__mobiledoc-tooltip a:hover {
  text-decoration: underline;
}

.__mobiledoc-tooltip__edit-link {
  margin-left: 5px;
  cursor: pointer;
}
